
<form (submit)="submitForm($event)">
    <div>
        <label for="username">Email</label>
        <input 
            [formField]="loginForm.username"
            placeholder="example@smth.com"
            type="email"
            [class.isWrong]="loginForm.username().invalid() && loginForm.username().touched()"
        >
        @if(loginForm.username().touched()) {
            @for (error of loginForm.username().errors(); track error.kind) {
                <span class="inputError">{{error.message}}</span>
            }
        }
    </div>
    <div>
        <label for="password">Password</label>
        <input
            [formField]="loginForm.password"
            placeholder="yourPassword" 
            type="password"
            [class.isWrong]="loginForm.password().invalid() && loginForm.password().touched()">
            @if(loginForm.password().touched()) {
                @for (error of loginForm.password().errors(); track error.kind) {
                <span class="inputError">{{error.message}}</span>
            }
        }
    </div>
    <button 
        [disabled]="loginForm().invalid() || loginForm().submitting()"
        type="submit">Login</button>
    <p class="registerLink" routerLink="/register">
        Do you not have an account?
    </p>
</form>