

<h2>Register</h2>
<form (submit)="submitForm($event)">

    <div>
        <label for="username">Email</label>
        <input 
            [formField]="registerForm.username"
            placeholder="example@smth.com"
            type="email"
            [class.isWrong]="registerForm.username().invalid() && registerForm.username().touched()"
            id="username"
        >
        @if(registerForm.username().touched()) {
            @for (error of registerForm.username().errors(); track error.kind) {
                <span class="inputError">{{error.message}}</span>
            }
        }
    </div>
    <div>
        <label for="password">Password</label>
        <input
            [formField]="registerForm.password"
            placeholder="yourPassword" 
            type="password"
            [class.isWrong]="registerForm.password().invalid() && registerForm.password().touched()"
            id="password"
            >
            @if(registerForm.password().touched()) {
                @for (error of registerForm.password().errors(); track error.kind) {
                <span class="inputError">{{error.message}}</span>
            }
        }
    </div>
    <div>
        <label for="lastname">Nom de famille:</label>
        <input
            [formField]="registerForm.lastname"
            placeholder="Votre nom de famille" 
            type="text"
            [class.isWrong]="registerForm.lastname().invalid() && registerForm.lastname().touched()"
            id="lastname"
            >
            @if(registerForm.lastname().touched()) {
                @for (error of registerForm.lastname().errors(); track error.kind) {
                <span class="inputError">{{error.message}}</span>
            }
        }
    </div>
    <div>
        <label for="firstname">Votre prénom:</label>
        <input
            [formField]="registerForm.firstname"
            placeholder="Votre prénom" 
            type="text"
            [class.isWrong]="registerForm.firstname().invalid() && registerForm.firstname().touched()"
            id="firstname"
            >
            @if(registerForm.firstname().touched()) {
                @for (error of registerForm.firstname().errors(); track error.kind) {
                <span class="inputError">{{error.message}}</span>
            }
        }
    </div>
    <button 
        [disabled]="registerForm().invalid() || registerForm().submitting()"
        type="submit">S'inscrire</button>
</form>
