<h3>Dossier de {{caseData()?.lastname}} {{caseData()?.firstname}}</h3>
<span>Statut du dossier: <strong>{{caseData()?.status}}</strong></span>
<section>
    <label for="status">Status du dossier:</label>
    <select (change)="onStatusChange($event)" id="status">
        <option [value]="CaseStatus.PENDING"    [selected]="selectedStatus() === CaseStatus.PENDING">En attente</option>
        <option [value]="CaseStatus.PROCESSING" [selected]="selectedStatus() === CaseStatus.PROCESSING">Traitement en cours</option>
        <option [value]="CaseStatus.APPROVED"   [selected]="selectedStatus() === CaseStatus.APPROVED">Accepté</option>
        <option [value]="CaseStatus.REFUSED"    [selected]="selectedStatus() === CaseStatus.REFUSED">Refusé</option>
    </select>

    <button
        (click)="confirmUpdate()"
        [disabled]="selectedStatus() === caseData()?.status || isUpdating()">
        {{ isUpdating() ? 'Mise à jour...' : 'Confirmer' }}
    </button>
</section>

<section>
    <h5>Voiture du dossier:</h5>
    <app-card  [carData]="carData()"  [editMode]="false"></app-card>
</section>
<section>
    <h3>Documents du client:</h3>
    <h5>Document 1:</h5>
    @if (docUrls()['doc1']) {
        <img  [src]="docUrls()['doc1']" alt="test">
    } @else {
        <p>Document absent.</p>
    }

    <h5>Document 2:</h5>
    @if (docUrls()['doc2']) {
        <img  [src]="docUrls()['doc2']" alt="test">
    } @else {
        <p>Document absent.</p>
    }
    <h5>Document 3:</h5>
    @if (docUrls()['doc3']) {
        <img  [src]="docUrls()['doc3']" alt="test">
    } @else {
        <p>Document absent.</p>
    }
</section>

