ul{
    padding-left: 20px;
}
li{
    list-style-type: none;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 15px;

}
li a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
li a:hover{
    color: #55BA22;
}