<h2>{{userProfile()?.lastname}} {{userProfile()?.firstname}}</h2>
<div>
    @if(!docUrls()['doc1']){

        <form >
            <label for="image">Document 1:</label>
            <input 
                type="file" 
                accept="image/jpeg, image/png, image/webp"
                (change)="presetImage($event, 'doc1')"
                #fileUploader
                >

            <!-- Preview de l'image -->
            @if(imagePreview1()) {
                <img [src]="imagePreview1()" alt="preview" style="width: 200px">
            }
            <button 
                [disabled]="isUploading()"
                type="submit"
                (click)="uploadImage($event, 'doc1')"
                >
                {{ isUploading() ? 'Upload en cours...' : 'Ajouter un document' }}
            </button>
        </form>

    }
    @if(!docUrls()['doc2']){
        <form >
            <label for="image">Document 2:</label>
            <input 
                type="file" 
                accept="image/jpeg, image/png, image/webp"
                (change)="presetImage($event, 'doc2')"
                #fileUploader
                >

            <!-- Preview de l'image -->
            @if(imagePreview2()) {
                <img [src]="imagePreview2()" alt="preview" style="width: 200px">
            }
            <button 
                [disabled]="isUploading()"
                type="submit"
                (click)="uploadImage($event, 'doc2')"
                >
                {{ isUploading() ? 'Upload en cours...' : 'Ajouter un document' }}
            </button>
        </form>
    }
    @if(!docUrls()['doc3']){
            <form >
        <label for="image">Document 3:</label>
        <input 
            type="file" 
            accept="image/jpeg, image/png, image/webp"
            (change)="presetImage($event, 'doc3')"
            #fileUploader
            >
        
        <!-- Preview de l'image -->
        @if(imagePreview3()) {
            <img [src]="imagePreview3()" alt="preview" style="width: 200px">
        }
        <button 
            [disabled]="isUploading()"
            type="submit"
            (click)="uploadImage($event, 'doc3')"
            >
            {{ isUploading() ? 'Upload en cours...' : 'Ajouter un document' }}
        </button>
    </form>

    }




</div>
<section>
    <h3>Documents du client:</h3>
    <h5>Document 1:</h5>
    @if (docUrls()['doc1']) {
        <img  [src]="docUrls()['doc1']" alt="test">
    } @else {
        <p>Document absent.</p>
    }

    <h5>Document 2:</h5>
    @if (docUrls()['doc2']) {
        <img  [src]="docUrls()['doc2']" alt="test">
    } @else {
        <p>Document absent.</p>
    }
    <h5>Document 3:</h5>
    @if (docUrls()['doc3']) {
        <img  [src]="docUrls()['doc3']" alt="test">
    } @else {
        <p>Document absent.</p>
    }
</section>

@if (selectedCar()) {
  <div class="selected-car-info">
    <h3>Voiture sélectionnée : {{ selectedCar()?.name }}</h3>
    <p>Prix : {{ selectedCar()?.price }} €</p>
    <p>Êtes-vous sûr de vouloir déposer un dossier pour cette voiture?</p>
    <button (click)="applicationSubmitter(true)">Oui</button>
    <button (click)="applicationSubmitter(false)">Non</button>
  </div>
}
@if (carOnProcess()) {
    <h3>Dossier déposé pour la voiture : {{ carOnProcess()?.name }}</h3>
    <p>Type de transaction: {{ carOnProcess()?.trade }}</p>
    <ul>
        <li>KM: {{ carOnProcess()?.km }}</li>
        <li>Prix: {{ carOnProcess()?.price }}</li>
    </ul>
} @else {
  <p>Aucun dossier de voiture en cours.</p>
}
