.carousel{
    display: flex;

    width: 100%;
}
button{
    padding: 12px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    height: 10rem;
    position: absolute;
    top: 35%;
}
button:hover{
    background-color: grey;
    color: black;
}
button:active{
    background-color: #55BA22;
    color: black;
}
.next{
    right: 10px;
}
.prev{
    left: 10px;
}

.toRemove{
    border: solid 1px red;
}